################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.dbmdl
/Personal.Database/Personal.Database.jfm
.vs/
